<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<style>
    td{
        vertical-align: middle;
    } 
    th{
        vertical-align: middle;
    }  
    .thead-dark{
        background-color: aquamarine;
    }

</style>
<div class="container">
    <div class="user">
        <p>Name:
            <%= userName %>
        </p>
        <p>Role:
            <%= userRole %>
        </p>
    </div>

    <div class="select">
        <p>Number items:
            <select>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option> 
        </select></p>
    </div>
</div>

<div class="container">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Tài khoản</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Email</th>
                <th scope="col">ID người dùng</th>
                <th scope="col">Chỉnh sửa</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0; i < data.length; i++) { %>
                <tr>
                    <th scope="row">
                        <%= i+1 %>
                    </th>
                    <td>
                        <%= data[i].name %>
                    </td>
                    <td>
                        <%= data[i].addr %>
                    </td>
                    <td>
                        <%= data[i].phone %>
                    </td>
                    <td>
                        <%= data[i].email %>
                    </td>
                    <td>
                        <%= data[i].userId %>
                    </td>
                    <td>
                        <a href="edituser" class="btn btn-teal btn-rounded btn-sm m-0">Sửa</a>
                        <a href="button" class="btn btn-teal btn-rounded btn-sm m-0">Xoá</a>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</div>