<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>League store 77</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
       .flex-container {
            display: flex;
            flex-wrap: nowrap;
            background-color: #fff;
            align-items: center;
        }

        .flex-container > div {
            background-color: #f1f1f1;
            width: 150px;
            margin: 2.5px;
            text-align: center;
            line-height: 50px;
            font-size: 30px;
        }
        .flex-container > div > .flex-item {
            width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <%- include('header') -%>
    <div style="text-align: center;" class="container">
        <h2 style="text-decoration: underline;">CHI TIẾT SẢN PHẨM</h2>
    </div>
    <div class="container">
        <form method="POST" action="/buynow/<%= product._id %>">
            <section class="mb-5">
                <div class="row">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <div id="mdb-lightbox-ui"></div>
                        <div class="mdb-lightbox">
                            <div class="row product-gallery mx-1">
                                <div class="col-12 mb-0">
                                    <figure class="view overlay rounded z-depth-1 main-img">
                                        <a width="550" height="600">
                                            <img src="/products/<%= product.image%>" id="current-img" class="img-fluid z-depth-1" width="550" height="600" style="width: 100%; height: auto;">
                                        </a>
                                    </figure>
                                </div>
                                <div class="flex-container">
                                    <div>
                                        <img class="flex-item" src="/products/bayern.jpeg" onclick="display(this)">
                                    </div>
                                    <div>2</div>
                                    <div>3</div>  
                                    <div>4</div>
                                    <div>5</div>
                                    <div>6</div>  
                                    <div>7</div>
                                    <div>8</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-2 text-muted text-uppercase small">
                            <%= product.name %>
                        </p>
                        <% if(product.bonusPrice > 0) {%>
                            <p><span class="mr-1"><strong>Giá: <%= product.bonusPrice.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}); %></strong></span></p>
                            <% } else {%>
                                <p><span class="mr-1"><strong>Giá: <%= product.price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}); %></strong></span></p>
                            <% } %>

                        <p class="pt-1">
                            <%= product.description %>
                        </p>
                        <hr>
                        <div class="table-responsive mb-2">
                            <table class="table table-sm table-borderless">
                                <tbody>
                                    <tr>
                                        <td class="pl-0 pb-0 w-25">Số lượng</td>
                                        <td class="pb-0">Chọn kích cỡ</td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0">
                                            <div class="def-number-input number-input safari_only mb-0">
                                                <input id="qty" type="number" class="quantity" min="0" name="quantity" value="1">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="small" name="radSize" value="S">
                                                <label class="form-check-label" for="small">S</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="medium" name="radSize" value="M">
                                                <label class="form-check-label" for="medium">M</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="large" name="radSize" value="L" checked>
                                                <label class="form-check-label" for="large">L</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="xlarge" name="radSize" value="XL">
                                                <label class="form-check-label" for="xlarge">XL</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="extralarge" name="radSize" value="XXL">
                                                <label class="form-check-label" for="extralarge">XXL</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a href="/guide.choosesize" class="btn btn-primary btn-md mr-1 mb-2">Hướng dẫn chọn size</a><br>
                        <p>
                            Để lại tin nhắn cho chúng tôi: (trong trường hợp mà bạn chọn nhiều size)
                        </p>
                        <textarea type="textarea" id="repMsg" name="msg" class="form-control" cols="92" rows="5" tabindex="101" placeholder="Mô tả"></textarea><br>
                        <button type="submit" class="btn btn-primary btn-md mr-1 mb-2">Đặt mua ngay</button>
                        <a href="" class="btn btn-warning btn-md mr-1 mb-2" id="addtocart">
                        <i class="fas fa-shopping-cart pr-2"></i>Thêm vào giỏ hàng</a>
                    </div>
                </div>
            </section>
        </form>
        <br>
       
    </div>
    <script>
        window.addEventListener("load", () => {
            $('#addtocart').click( function(e) {
                e.preventDefault();
                var href = $(this).attr("href");
                href ='/carts/add-to-cart/<%= product._id %>/';
                var size = document.querySelector('input[name="radSize"]:checked').value.toString();
               
                size += '/';
                href += size;

                var msg = document.getElementById('repMsg').value.toString();
                if(msg === ""){
                    msg = "Vui lòng để lại tin nhắn";
                }
               
                msg += '/';                                       
                href += msg;

                var qt = document.getElementById('qty').value.toString();

                qt += '/';
                href += qt;

                window.location.href = href;

                return false; 
            });
        });

        function display(img){
            var _img = document.getElementById('current-img');
            if(_img){
                _img.src = img.src;
            }
        }
    </script>
</body>
</html>