<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>League store 77</title>
    <link rel="icon" href="/assets/logoweb.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
       .flex-container {
            display: flex;
            flex-wrap: nowrap;
            background-color: #fff;
            align-items: center;
        }

        .flex-container > div {
            background-color: #f1f1f1;
            width: 150px;
            margin: 2.5px;
            text-align: center;
            line-height: 50px;
            font-size: 30px;
        }
        .flex-container > div > .flex-item {
            width: 100%;
            height: auto;
        }
        .container {
            align-items: center;
        }
        footer {
            text-align: center;
            padding: 3px;
            background-color: #111;
            color: white;
            bottom: 0rem;
            position: relative;
            width: 100%;
            opacity: calc();
        }
        img.hover-shadow {
            transition: 0.3s;
        }
        
        .hover-shadow:hover {
            box-shadow: 0 4px 8px 0 rgba(243, 238, 238, 0.2), 0 6px 20px 0 rgba(231, 221, 221, 0.19);
        }
        .img-responsive{
            margin:0 auto;
        }
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #FFF;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        @media screen and (max-width: 600px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
            .sidenav .form-inline.my-2.my-lg-0 .form-control.mr-sm-2{
                width: 85%;
            }
            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 10px;
                font-size: 36px;
                margin-left: 25px;
            }
        }

        .dropdown{
            position: absolute;
            display: inline-block;
        }
        .dropdown-right{
            position: absolute;
            display: inline-block;
        }

        .dropdown-menu a:hover {
            background-color: #ddd;
            color: coral;
        }
        .dropdown-menu-right a:hover {
            background-color: #ddd;
            color: coral;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }
        .dropdown-right:hover .dropdown-menu-right {
            display: block;
        }

        .dropdown{
            font-weight: bold;
        }
        .dropdown :hover{
            color: coral;
        }
        .dropdown-right{
            font-weight: bold;
        }
        .dropdown-right :hover{
            color: coral;
        }
        .nav.navbar-nav {
            font-weight: bold;
            background: transparent;
            transition: 0.5s;
        }

        .dropdown .dropdown-menu a:hover{
            font-weight: bold;
            color: coral;
            text-decoration: underline;
        }

        .dropdown-right .dropdown-menu-right a:hover{
            font-weight: bold;
            color: coral;
            text-decoration: underline;
        }

        .navbar-nav a{
            font-weight: 350;
            color: black;
            font-size: 16px;
            background: transparent;
            transition: 0.5s;
        }
        .navbar-nav a:hover{
            color: coral;
            text-decoration: underline;
            background-color: transparent;
            background: transparent;
        }

        .dropdown a:hover{
            color: coral;
            text-decoration: underline;
        }
        .dropdown-right a:hover{
            color: coral;
            text-decoration: underline;
        }

        .navbar.navbar-dark.bg-dark a.icon{
            display: none;
        }

        .navbar.navbar-dark.bg-dark a.icon:hover{
            color: coral;
        }

        .navbar.navbar-dark.bg-dark > .container-fluid > .nav.navbar-nav > li > a, .dropdown:hover{
            background: transparent;
            background-color: transparent;
        }

        @media screen and (max-width: 600px) {
            /* left menu */
            .navbar.navbar-dark.bg-dark{
                height: 5px;
                transition: 0.5s;
            }
            .navbar.navbar-dark.bg-dark > .container-fluid > .nav.navbar-nav > li > a, .dropdown{
                display: none;
                transition: 0.5s;
            }
            .navbar.navbar-dark.bg-dark a.icon{
                float: left;
                display: block;
                top: 10px;
                left: 10px;
                position: absolute;
            }

            .navbar.navbar-dark.bg-dark > .nav.navbar-nav.navbar-right > .login-item{
                position: absolute;
                top: 0;
                float: right;
                right: 75px;
            }
            .navbar.navbar-dark.bg-dark > .nav.navbar-nav.navbar-right > .cart-item{
                position: absolute;
                top: 0;
                float: right;
                right: 30px;
            }
            .navbar.navbar-dark.bg-dark > .nav.navbar-nav.navbar-right > a, .search-item{
                position: absolute;
                top: 0;
                float: right;
                right: 10px;
            }
        }

        @media screen and (max-width: 600px){   
            .navbar.navbar-dark.bg-dark.responsive {
                position: relative;
                height: 435px;
                transition: 0.5s;
            }
            .navbar.navbar-dark.bg-dark.responsive a.icon{
                position:absolute;
                left: 10px;
                top: 10px;
            }
            .navbar.navbar-dark.bg-dark.responsive > .container-fluid > .nav.navbar-nav > li > a, .dropdown{
                display: block;
                width: 100%;
                text-align: left;
                left: 0px;
            }
        }
        #topbar {background: #7F7F7F ;font-size: 12px; color: #FFFF}
        #topbar-down {background: #faf4f4 ;font-size: 14px; color: rgb(221, 207, 207)}
        #topbar p {padding: 4px 0;margin-bottom:0;}
        #topbar-down p {padding: 4px 0;margin-bottom:0;}
        .topbar-hotline a.phone-num { display: inline-block;}
        .topbar-hotline {text-align: right;margin: 3.5px 0 0;}
        .topbar-hotline span.text-phone{color:#FFFF;font-weight:bold;letter-spacing:0.4px;}
        .topbar-hotline span.circle-phone{
            display: inline-block;border-radius: 50%;
            -webkit-animation: ripple 1.0s linear infinite;
            animation: ripple 1.0s linear infinite;
        }

        .flex-container > .flex-item {
            transition: 0.3s;
        }

        .flex-item:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
        }

    </style>
</head>

<body>
    <div id="topbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 topbar-content">
                    <p>
                        <strong> Miễn phí </strong>
                        giao hàng toàn quốc với đơn hàng
                        <strong> trên 500k </strong>
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 topbar-hotline">
                    <a class="phone-num" href="tel:0123456789"></a>
                    <span class="circle-phone">
                        <i class="fa fa-phone"></i>
                    </span>
                    <span class="text-phone">Hot line: 0123456789</span>
                </div>
            </div>
        </div>
    </div>
    <%- include('header');%>
    <div id="topbar-down">
        <div class="container-fluid" style="margin-left: 20px;">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 topbar-content">
                  <p>
                    <a href="/">Trang chủ</a> / Chi tiết sản phẩm
                  </p>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center;" class="container">
        <h2 style="text-decoration: underline;">CHI TIẾT SẢN PHẨM</h2>
    </div>
    <div class="container">
        <form method="POST" action="/buynow/<%= product[0]._id %>">
            <section class="mb-5">
                <div class="row">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <div id="mdb-lightbox-ui"></div>
                        <div class="mdb-lightbox">
                            <div class="row product-gallery mx-1">
                                <div class="col-12 mb-0">
                                    <figure class="view overlay rounded z-depth-1 main-img">
                                        <a width="550" height="600">
                                            <img src="<%= product[0].image%>" id="current-img" class="img-fluid z-depth-1" width="550" height="600" style="width: 100%; height: auto;">
                                        </a>
                                    </figure>
                                </div>
                                <div class="flex-container">
                                    <!-- for -->
                                    <% for(var i=0;i<product.length; i++) {%>
                                        <div>
                                            <img class="flex-item" src="<%= product[i].image%>" onclick="display(this)">
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-2 text-muted text-uppercase small">
                            <%= product[0].name %>
                        </p>
                        <% if(product[0].bonusPrice > 0) {%>
                            <p><span class="mr-1"><strong>Giá: <%= product[0].bonusPrice.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}); %></strong></span></p>
                            <% } else {%>
                                <p><span class="mr-1"><strong>Giá: <%= product[0].price.toLocaleString('it-IT', {style : 'currency', currency : 'VND'}); %></strong></span></p>
                            <% } %>

                        <p class="pt-1">
                            <%= product[0].description %>
                        </p>
                        <hr>
                        <div class="table-responsive mb-2">
                            <table class="table table-sm table-borderless">
                                <tbody>
                                    <tr>
                                        <td class="pl-0 pb-0 w-25">Số lượng</td>
                                        <td class="pb-0">Chọn kích cỡ</td>
                                    </tr>
                                    <tr>
                                        <td class="pl-0">
                                            <div class="def-number-input number-input safari_only mb-0">
                                                <input id="qty" type="number" class="quantity" min="0" name="quantity" value="1">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="small" name="radSize" value="S">
                                                <label class="form-check-label" for="small">S</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="medium" name="radSize" value="M">
                                                <label class="form-check-label" for="medium">M</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="large" name="radSize" value="L" checked>
                                                <label class="form-check-label" for="large">L</label>
                                            </div>
                                            <div class="form-check">
                                                <input type="radio" class="form-check-input" id="xlarge" name="radSize" value="XL">
                                                <label class="form-check-label" for="xlarge">XL</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <a data-toggle="modal" data-target="#modal-size-guide" class="btn btn-primary btn-md mr-1 mb-2" style="background-color: #111;">Hướng dẫn chọn size</a><br>
                        <p>
                            Để lại tin nhắn cho chúng tôi: (trong trường hợp mà bạn chọn nhiều size)
                        </p>
                        <textarea type="textarea" id="repMsg" name="msg" class="form-control" cols="92" rows="5" tabindex="101" placeholder="Mô tả"></textarea><br>
                        <button type="submit" class="btn btn-primary btn-md mr-1 mb-2" style="background-color: #111;">Đặt mua ngay</button>
                        <a href="" class="btn btn-primary btn-md mr-1 mb-2" id="addtocart" style="background-color: #111;">
                        <i class="fas fa-shopping-cart pr-2"></i>Thêm vào giỏ hàng</a>
                    </div>
                </div>
            </section>
        </form>
        <br>   
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal-size-guide" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Hướng dẫn chọn size</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="img-responsive" src="/size_guide/guide.jpg" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.addEventListener("load", () => {
            $('#addtocart').click( function(e) {
                e.preventDefault();
                var href = $(this).attr("href");
                href ='/carts/add-to-cart/<%= product[0]._id %>/';
                var size = document.querySelector('input[name="radSize"]:checked').value.toString();
               
                size += '/';
                href += size;

                var msg = document.getElementById('repMsg').value.toString();
                if(msg === ""){
                    msg = "Vui lòng để lại tin nhắn";
                }
               
                msg += '/';                                       
                href += msg;

                var qt = document.getElementById('qty').value.toString();

                qt += '/';
                href += qt;

                window.location.href = href;

                return false; 
            });
        });

        function display(img){
            var _img = document.getElementById('current-img');
            if(_img){
                _img.src = img.src;
            }
        }
    </script>
    <footer>
        <%- include('footer')%>
    </footer>
    
</body>
</html>